.formulario{
    margin-top: 15px;
}



.Compra{
    text-align: center;
    padding: 15px;
}

.orden{
    text-align: center;
    font-size: 25px;
}

.li{
    border-radius: 15px;
    width: 150px;
    background: pink;
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 30px;
    margin-bottom: 15px;
}