.contador__boton{
  margin: 10px;
  width: 30px;
  background: rgb(245, 149, 165);
  border-radius: 5px;
  border: none;
}

.contador__numero{
  text-align: center;
}

.button{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  
}

.contador__boton--agregar{
  background: rgb(253, 144, 162);
  border: none;
  font-size: 22px;
  border-radius: 10px;
  width: 250px;
  height: 40px;
}