.button{
    height: 45px;
    width: 25px;
    color: black;  
}

.btn{
    background-color: #e9929e;
    cursor: pointer;
  background-image: linear-gradient(to bottom,#f7baff, #fc87ec);
}


































