.Titulo-Detail{
    text-align: center;
    color: rgb(245, 120, 141);
    font-size: 35px;
}

.h4{
    text-align: center;
    color: rgb(245, 120, 141);
    margin-top: 20px;
}

p{
    font-size: 20px;
}

.precio{
    text-align: center;
    font-size: 29px;
}